<footer
  class="flex flex-col md:flex-row justify-between items-center gap-y-5 px-6 py-4 bg-[#f9fafb] dark:bg-[#374151] border-t border-black/25 dark:border-white/15">
  <div class="flex flex-row md:flex-col gap-1 order-3 md:order-1">
    <strong>Diseñado por:</strong>
    <a
      href="https://github.com/santiago-rincon"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:cursor-pointer"
      >Cristian Santiago Rincón</a
    >
  </div>
  <h4 class="uppercase text-lg font-semibold order-2">
    Barbería {{ localName }}
  </h4>
  <div class="order-1 md:order-3">
    <h4
      class="text-center mb-2 font-bold flex items-center gap-x-3 justify-center md:justify-end">
      Horario de atención <i class="pi pi-clock"></i>
    </h4>
    <ul class="flex gap-4 text-black/90 dark:text-white/90">
      <li>
        {{ schedule }}
      </li>
    </ul>
  </div>
</footer>
